<div class="hero hero--{{ section.id }} hero--{{ section.settings.hero_size }} lazyload" data-bgset="{% include 'bgset', image: section.settings.image %}" data-section-id="{{ section.id }}" data-section-type="hero">
  <div class="hero__inner">
    <div class="page-width text-center">
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Image with text overlay"
  },
  "class": "index-section index-section--image-with-text-overlay",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Overlay"
      }
		}
  ],
  "presets": [
    {
      "name": {
        "en": "Image with text overlay"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}
